force-app/main/default/flows/Amount_update_for_Receipt_Currency.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Currency_value_in_Amount_Currency</name>
        <label>Assign Currency value in Amount Currency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount_in_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountInCurrency</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Currency_value_in_Amount_Currency</name>
        <label>Copy 1 of Assign Currency value in Amount Currency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount_in_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountInCurrency</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customErrors>
        <name>error</name>
        <label>error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Once a Receipt record has been created, its Approval Status cannot be modified. Only members of the Finance Team are authorised to make updates.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>check_Currency_update</name>
        <label>check Currency update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>on_currecny_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Currency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Currency_value_in_Amount_Currency</targetReference>
            </connector>
            <label>on currecny change</label>
        </rules>
        <rules>
            <name>on_currency_upate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Currency_value_in_Amount_Currency</targetReference>
            </connector>
            <label>on currency upate</label>
        </rules>
        <rules>
            <name>If_user_change_the_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_user_Record.Username</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_user_Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error</targetReference>
            </connector>
            <label>If user change the status</label>
        </rules>
        <rules>
            <name>If_Status_Change_from_Approved_to_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approval_Status</targetReference>
            </connector>
            <label>If Status Change from Approved to Open</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AmountInCurrency</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Currency__c}) &amp; &quot; &quot; &amp; {!$Record.Amount_in_Currency__c}</expression>
    </formulas>
    <interviewLabel>Amount update for Receipt Currency {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Amount update for Receipt Currency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_user_Record</name>
        <label>Get user Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Currency_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>noumanahmed159@gmail.com.kcdev</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval_Status</name>
        <label>Update Approval Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_user_Record</targetReference>
        </connector>
        <object>Receipt__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
