force-app/main/default/flows/Email_Notification_on_Agency_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Link_doc_in_corporate</name>
        <label>Link doc in corporate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ContentDocumentLinkHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>agencyId</name>
            <value>
                <elementReference>Create_Corporate_Agency.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentDocumentIds</name>
            <value>
                <elementReference>ContentDocumentID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ContentDocumentLinkHelper</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Link_doc_in_individual</name>
        <label>Link doc in individual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ContentDocumentLinkHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>agencyId</name>
            <value>
                <elementReference>Create_Individual_Agency.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentDocumentIds</name>
            <value>
                <elementReference>ContentDocumentID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ContentDocumentLinkHelper</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>send_alert</name>
        <label>send alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Agency_Onboarding__c.Email_Alert_on_New_Agency_Onboarding</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Agency_Onboarding__c.Email_Alert_on_New_Agency_Onboarding</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Id_of_Content_Document_created</name>
        <label>Assign Id of Content Document created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Content_Document_Loop.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Content_Document_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_Record_is_created_or_updated</name>
        <label>Check the Record is created or updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_new_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_status_values_as_New</targetReference>
            </connector>
            <label>If new record</label>
        </rules>
        <rules>
            <name>If_already_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Onboarding_stage_changed</targetReference>
            </connector>
            <label>If already Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_record_on_the_basis_of_Record_Type</name>
        <label>Check the record on the basis of Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Agency_Records_Individual.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Individual_Agency</targetReference>
            </connector>
            <label>If Individual</label>
        </rules>
        <rules>
            <name>If_Corporate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Agency_Records_Corporate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Corporate_Agency</targetReference>
            </connector>
            <label>If Corporate</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Onboarding_stage_changed</name>
        <label>If Onboarding stage changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Documents_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Content_Document_Loop</targetReference>
            </connector>
            <label>If Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>FullName</name>
        <dataType>String</dataType>
        <expression>TRIM(
    IF(ISBLANK({!$Record.First_Name__c}), &quot;&quot;, {!$Record.First_Name__c}) &amp;
    &quot; &quot; &amp;
    IF(ISBLANK({!$Record.Last_Name__c}), &quot;&quot;, {!$Record.Last_Name__c})
)</expression>
    </formulas>
    <interviewLabel>Email Notification on Agency Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Notification on Agency Onboarding</label>
    <loops>
        <name>Content_Document_Loop</name>
        <label>Content Document Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Id_of_Content_Document_created</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Record_Types_Corporate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Agency_employee_record</name>
        <label>Create Agency employee record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Link_doc_in_corporate</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency_Name__c</field>
            <value>
                <elementReference>Create_Corporate_Agency.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EID_Expiry_Date__c</field>
            <value>
                <elementReference>$Record.Emirates_ID_Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emirates_ID__c</field>
            <value>
                <elementReference>$Record.Emirates_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>$Record.Company_Official_Phone_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_No__c</field>
            <value>
                <elementReference>$Record.Passport_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UAE_Visa_File_Number__c</field>
            <value>
                <elementReference>$Record.UAE_Visa_File_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visa_Expiry_Date__c</field>
            <value>
                <elementReference>$Record.Visa_Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Agency_Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Corporate_Agency</name>
        <label>Create Corporate Agency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Agency_employee_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency_Account_Manager__c</field>
            <value>
                <elementReference>$Record.Agency_Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency_Type__c</field>
            <value>
                <elementReference>$Record.Sub_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Number__c</field>
            <value>
                <elementReference>$Record.Bank_Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Address__c</field>
            <value>
                <elementReference>$Record.Bank_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Branch_Name__c</field>
            <value>
                <elementReference>$Record.Bank_Branch_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Document_Available__c</field>
            <value>
                <elementReference>$Record.Bank_Document_Available__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>$Record.Bank_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beneficiary_name_Account_Holder_Name__c</field>
            <value>
                <elementReference>$Record.Beneficiary_name_Account_Holder_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker_Address__c</field>
            <value>
                <elementReference>$Record.Company_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.Cities__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Email__c</field>
            <value>
                <elementReference>$Record.Company_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_ORN_RERA_Number__c</field>
            <value>
                <elementReference>$Record.Compnay_ORN_RERA_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Phone__c</field>
            <value>
                <elementReference>$Record.Company_Official_Phone_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>$Record.Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Registration__c</field>
            <value>
                <elementReference>$Record.Date_Of_Registrations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emirates_ID__c</field>
            <value>
                <elementReference>$Record.Emirates_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_TRN__c</field>
            <value>
                <elementReference>$Record.Have_TRN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IBAN_Number__c</field>
            <value>
                <elementReference>$Record.IBAN_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Agency_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Of_Partners__c</field>
            <value>
                <elementReference>$Record.No_Of_Partners__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Number__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership__c</field>
            <value>
                <elementReference>$Record.OwnerShip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Box__c</field>
            <value>
                <elementReference>$Record.PO_Box__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Types_Corporate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Representative__c</field>
            <value>
                <elementReference>$Record.Sales_Representative__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TL_Expiry_Date__c</field>
            <value>
                <elementReference>$Record.Trade_License_Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRN_No__c</field>
            <value>
                <elementReference>$Record.TRN_NUMBER_VAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_License_No__c</field>
            <value>
                <elementReference>$Record.Trade_License_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Agency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Individual_Agency</name>
        <label>Create Individual Agency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Link_doc_in_individual</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency_Account_Manager__c</field>
            <value>
                <elementReference>$Record.Agency_Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Number__c</field>
            <value>
                <elementReference>$Record.Bank_Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Address__c</field>
            <value>
                <elementReference>$Record.Bank_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Branch_Name__c</field>
            <value>
                <elementReference>$Record.Bank_Branch_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Document_Available__c</field>
            <value>
                <elementReference>$Record.Bank_Document_Available__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>$Record.Bank_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beneficiary_name_Account_Holder_Name__c</field>
            <value>
                <elementReference>$Record.Beneficiary_name_Account_Holder_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker_Address__c</field>
            <value>
                <elementReference>$Record.Company_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.Cities__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EID_Expiry_Date__c</field>
            <value>
                <elementReference>$Record.Emirates_ID_Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emirates_ID__c</field>
            <value>
                <elementReference>$Record.Emirates_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IBAN_Number__c</field>
            <value>
                <elementReference>$Record.IBAN_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>$Record.Phone_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>National_Id_Expiry_date__c</field>
            <value>
                <elementReference>$Record.National_Id_Expiry_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>National_Id_Number__c</field>
            <value>
                <elementReference>$Record.National_Id_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Number__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Box__c</field>
            <value>
                <elementReference>$Record.PO_Box__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_Expiry_Date__c</field>
            <value>
                <elementReference>$Record.Passport_Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_No__c</field>
            <value>
                <elementReference>$Record.Passport_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Types_Individual.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TL_Expiry_Date__c</field>
            <value>
                <elementReference>$Record.Trade_License_Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_License_No__c</field>
            <value>
                <elementReference>$Record.Trade_License_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UAE_Visa_File_Number__c</field>
            <value>
                <elementReference>$Record.UAE_Visa_File_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visa_Expiry_Date__c</field>
            <value>
                <elementReference>$Record.Visa_Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Agency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>send_alert</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Group_Broker_Review.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Agency Profile Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Agency Registration Initiation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Agency_Records_Corporate</name>
        <label>Get Agency Records = Corporate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Agency_Records_Individual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Types_Corporate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agency_Records_Individual</name>
        <label>Get Agency Records = Individual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_record_on_the_basis_of_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Types_Individual.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Documents</name>
        <label>Get Documents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Broker_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Broker_Review</name>
        <label>Get Group = Broker Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Record_is_created_or_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Broker_Profile_Review_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Types_Corporate</name>
        <label>Get Record Types = Corporate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Types_Individual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agency__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate_Broker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Types_Individual</name>
        <label>Get Record Types = Individual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Stage_as_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agency__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual_Broker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Stage_as_Approved</name>
        <label>Update Stage as Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Agency_Records_Corporate</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_values_as_New</name>
        <label>Update status values as New</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Onboarding_Stage__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
        <object>Agency_Onboarding__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>approvedEmailtemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Zoya Developments Registration Submitted – Ref. No. [{!$Record.Id}]</text>
    </textTemplates>
    <textTemplates>
        <name>CorporateEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Dear Channel Partner,&lt;/strong&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Congratulations!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;We are pleased to inform you that your registration with&lt;strong&gt; Zoya Developments&lt;/strong&gt; has been successfully completed. All submitted documents have been reviewed, verified, and approved.&lt;/p&gt;&lt;p&gt;&amp;nbsp;To proceed with the activation of your profile in our system, we kindly request you to sign the agreement sent to your registered signatory email at your earliest convenience.&lt;/p&gt;&lt;p&gt;&amp;nbsp;We are delighted to welcome you to &lt;strong&gt;Zoya Developments&lt;/strong&gt; and look forward to a productive and long-term collaboration.&lt;/p&gt;&lt;p&gt;&amp;nbsp;Our team will be sharing upcoming project launches, inventory updates, pricing details, and all required marketing materials to support your success with Zoya.&lt;/p&gt;&lt;p&gt;&amp;nbsp;Should you require any assistance, please do not hesitate to contact us.&lt;/p&gt;&lt;p&gt;&amp;nbsp;Welcome aboard—we look forward to achieving exceptional milestones together.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Warm regards,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt; Zoya Developments&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt; Channel Relations Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewEmailtemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Dear Channel Partner,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Your registration has been successfully submitted and forwarded for review and document verification. You will be notified once the process is completed.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Please refer to Reference No. &lt;strong&gt;{!$Record.Id}&lt;/strong&gt; of Agency&lt;strong&gt; {!$Record.Name}&lt;/strong&gt; for any future correspondence.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Warm regards,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt; Zoya Developments&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt; Channel Relations Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ContentDocumentID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
