force-app/main/default/flows/Task_Update_On_EOI_Agency_and_Sales_Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_email_on_agency_onboarding</name>
        <label>Cancel email on agency onboarding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Get_Agency_Onboarding_records.Email__c</elementReference>
                </collectionElements>
                <collectionElements>
                    <elementReference>Get_Agency_Onboarding_records.Company_Email__c</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>siddiqanaz7866@gmail.com.kcdev</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>agency@zoyadevelopments.ae</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Registration Rejected – Action Required</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CancelTemplate</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Agency_Onboarding_records.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>pending_Email</name>
        <label>pending Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Agency_Onboarding__c.Email_Alert_on_Pending_Documents</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Agency_Onboarding_records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Agency_Onboarding__c.Email_Alert_on_Pending_Documents</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_on_NMI</name>
        <label>Send Email on NMI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>pratheeksha@zoyadevelopments.ae.kcdev</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>Naz@zoyadevelopments.ae</stringValue>
                </collectionElements>
                <collectionElements>
                    <stringValue>sudhanshu.singh@kloudcodey.com</stringValue>
                </collectionElements>
                <collectionElements>
                    <stringValue>awantika.kloudcodey@gmail.com</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>accounts@zoyadevelopments.ae</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Needed : More Information Required</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NMIemail</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_on_Task_complete_and_move_to_finance</name>
        <label>Send Email on Task complete and move to finance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>nouman@zoyadevelopments.ae</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>Naz@zoyadevelopments.ae</stringValue>
                </collectionElements>
                <collectionElements>
                    <stringValue>sudhanshu.singh@kloudcodey.com</stringValue>
                </collectionElements>
                <collectionElements>
                    <stringValue>awantika.kloudcodey@gmail.com</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>accounts@zoyadevelopments.ae</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Required: Task Assigned from Sales to Finance – EOI Verification Needed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SalestoFinance</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_on_EOI_Complete</name>
        <label>Send on EOI Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>nouman@zoyadevelopments.ae</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>Naz@zoyadevelopments.ae</stringValue>
                </collectionElements>
                <collectionElements>
                    <stringValue>sudhanshu.singh@kloudcodey.com</stringValue>
                </collectionElements>
                <collectionElements>
                    <stringValue>awantika.kloudcodey@gmail.com</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>accounts@zoyadevelopments.ae</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Completed: EOI Verified by Finance</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EOIComplete</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Copy_10_of_error</name>
        <label>Copy 10 of error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You are not authorized to move the sales booking to this stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_11_of_error</name>
        <label>Copy 11 of error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You are not authorized to move the sales booking to this stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_12_of_error</name>
        <label>Copy 12 of error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You are not authorized to move the sales booking to this stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_13_of_error</name>
        <label>Copy 13 of error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You are not authorized to move the sales booking to this stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_1_of_Copy_13_of_error</name>
        <label>Copy 1 of Copy 13 of error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You are not authorized to move the sales booking to this stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_1_of_Copy_3_of_error</name>
        <label>Copy 1 of Copy 3 of error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You are not authorized to move the sales booking to this stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_1_of_error</name>
        <label>Copy 1 of error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You are not authorized to move the sales booking to this stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_3_of_error</name>
        <label>Copy 3 of error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You are not authorized to move the sales booking to this stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_4_of_error</name>
        <label>Copy 4 of error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You are not authorized to move the sales booking to this stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_5_of_error</name>
        <label>Copy 5 of error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You are not authorized to move the sales booking to this stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_6_of_error</name>
        <label>Copy 6 of error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You are not authorized to move the sales booking to this stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_7_of_error</name>
        <label>Copy 7 of error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You are not authorized to move the sales booking to this stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_8_of_error</name>
        <label>Copy 8 of error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You are not authorized to move the sales booking to this stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_9_of_error</name>
        <label>Copy 9 of error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You are not authorized to move the sales booking to this stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Only two tasks can be created, and the Sales Admin cannot change the status after completion.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>error1</name>
        <label>error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You are not authorized to move the sales booking to this stage.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_on_Task_Creation</name>
        <label>Error on Task Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Task creation is not allowed when the EOI status is set to Rejected.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Provide_Error_on_Task_Completion</name>
        <label>Provide Error on Task Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>No Receipt found in the EOI record. Please create a Receipt record first.</errorMessage>
            <fieldSelection>Status</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>check_If_Receipt_is_avaibale_or_not</name>
        <label>check If Receipt is avaibale or not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Provide_Error_on_Task_Completion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_the_Recipt_related_to_EOI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Receipt_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_task</targetReference>
            </connector>
            <label>Check the Recipt related to EOI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Object_for_Task</name>
        <label>Check the Object for Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Object_is_EOI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EOI_Records.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.WhatId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Receipt_Records</targetReference>
            </connector>
            <label>If Object is - EOI</label>
        </rules>
        <rules>
            <name>If_Object_is_Agency_onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agency_Onboarding_records.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.WhatId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Broker</targetReference>
            </connector>
            <label>If Object is - Agency onboarding</label>
        </rules>
        <rules>
            <name>If_Object_is_Sales_Booking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Sales_Booking.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_When_Status_is_updated</targetReference>
            </connector>
            <label>If Object is - Sales Booking</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_When_Status_is_updated</name>
        <label>Check When Status is updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_completed_EOI_linking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EOI Linking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EOI Document Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_booking_Booking_Created</targetReference>
            </connector>
            <label>Task completed - EOI linking</label>
        </rules>
        <rules>
            <name>Task_completed_Booking_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking Created</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking Creation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_booking_booking_Verified</targetReference>
            </connector>
            <label>Task completed - Booking created</label>
        </rules>
        <rules>
            <name>Task_Completed_Booking_Verification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking Verification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking Verification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_booking_receipt</targetReference>
            </connector>
            <label>Task Completed - Booking Verification</label>
        </rules>
        <rules>
            <name>Task_completed_Receipt_Verification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Receipt Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Receipt Verification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_booking_Sales_Admin_Manager</targetReference>
            </connector>
            <label>Task completed - Receipt Verification</label>
        </rules>
        <rules>
            <name>Task_Completed_Sales_manager_submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted to Sales Admin Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted to Sales Admin Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_booking_Generate_RF</targetReference>
            </connector>
            <label>Task Completed - Sales manager submit</label>
        </rules>
        <rules>
            <name>Task_Completed_Generate_RF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generate RF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generate RF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_booking_RF_Signed</targetReference>
            </connector>
            <label>Task Completed - Generate RF</label>
        </rules>
        <rules>
            <name>Task_Completed_RF_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RF Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RF Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_booking_Downpayemnt</targetReference>
            </connector>
            <label>Task Completed - RF Signed</label>
        </rules>
        <rules>
            <name>Task_completed_Downpayment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Finance Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downpayment Verification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_booking_approved_by_cso</targetReference>
            </connector>
            <label>Task completed - Downpayment</label>
        </rules>
        <rules>
            <name>Task_Complete_Approved_by_CSO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved by CSO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved by CSO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_booking_SPA_generated</targetReference>
            </connector>
            <label>Task Complete - Approved by CSO</label>
        </rules>
        <rules>
            <name>Task_completed_SPA_Generate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPA Generated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPA Preparation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_booking_SPA_Sent</targetReference>
            </connector>
            <label>Task completed - SPA Generate</label>
        </rules>
        <rules>
            <name>Task_Completed_SPA_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPA Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send SPA for Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_booking_SPA_Signed</targetReference>
            </connector>
            <label>Task Completed - SPA Sent</label>
        </rules>
        <rules>
            <name>Task_completed_SPA_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPA Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPA Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_booking_SPA_Executed</targetReference>
            </connector>
            <label>Task completed - SPA Signed</label>
        </rules>
        <rules>
            <name>Task_Completed_SPA_Executed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPA Executed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPA Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_booking_oqood_submit</targetReference>
            </connector>
            <label>Task Completed - SPA Executed</label>
        </rules>
        <rules>
            <name>Task_completed_Oqood_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oqood Submission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oqood Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_booking_oqood_Approved</targetReference>
            </connector>
            <label>Task completed - Oqood Submission</label>
        </rules>
        <rules>
            <name>Task_Completed_Oqood_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oqood Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oqood Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_booking_handover</targetReference>
            </connector>
            <label>Task Completed - Oqood Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_When_task_status_updated</name>
        <label>Check When task status updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Task_is_Completed_by_sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Group_Sales.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_EOI_Records.Task_Count__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Task</targetReference>
            </connector>
            <label>When Task is Completed by sales</label>
        </rules>
        <rules>
            <name>When_Task_NMI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Need More Information (NMI)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Update_EOI</targetReference>
            </connector>
            <label>When Task NMI</label>
        </rules>
        <rules>
            <name>If_task_will_Resubmiited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Update_task</targetReference>
            </connector>
            <label>If task will Resubmiited</label>
        </rules>
        <rules>
            <name>If_Task_is_Complete_by_finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Queue_Finance.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_If_Receipt_is_avaibale_or_not</targetReference>
            </connector>
            <label>If Task is Complete by finance</label>
        </rules>
        <rules>
            <name>If_Task_cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Queue_Finance.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Update_EOI</targetReference>
            </connector>
            <label>If Task cancelled</label>
        </rules>
        <rules>
            <name>Check_the_Count_of_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EOI_Records.Task_Count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_EOI_Records.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Queue_Finance.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Check the Count of Task</label>
        </rules>
        <rules>
            <name>If_EOI_will_reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EOI_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_EOI_Records.Task_Count__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_on_Task_Creation</targetReference>
            </connector>
            <label>If EOI will reject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_When_task_status_updated</name>
        <label>Copy 1 of Check When task status updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_When_Task_is_Under_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_task</targetReference>
            </connector>
            <label>Copy 1 of When Task is Under Review</label>
        </rules>
        <rules>
            <name>Copy_1_of_When_Task_NMI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Need More Information (NMI)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Update_task</targetReference>
            </connector>
            <label>Copy 1 of When Task NMI</label>
        </rules>
        <rules>
            <name>Copy_1_of_When_Task_Re_submiite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_2_of_Copy_1_of_Update_task</targetReference>
            </connector>
            <label>Copy 1 of When Task Re-submiite</label>
        </rules>
        <rules>
            <name>Copy_1_of_When_Task_is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed / Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Copy_1_of_Update_task</targetReference>
            </connector>
            <label>Copy 1 of When Task is Completed</label>
        </rules>
        <rules>
            <name>Copy_1_of_If_Task_cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason_For_Cancellation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Copy_2_of_Copy_1_of_Update_task</targetReference>
            </connector>
            <label>Copy 1 of If Task cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Commission_Record</name>
        <label>Create Commission Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Commission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.Sales_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Booking.Sales_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Booking.Team_Lead_Sales_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_record_type</targetReference>
            </connector>
            <label>Internal Commission</label>
        </rules>
        <rules>
            <name>External_commission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Booking.Sales_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indirect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Booking.Sales_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Booking.Agency_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>External_record_type</targetReference>
            </connector>
            <label>External commission</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Task Update On EOI,Agency and Sales Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Update On EOI,Agency and Sales Booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_External_Commission</name>
        <label>Create External Commission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Amount_Received__c</field>
            <value>
                <elementReference>Get_Sales_Booking.POP_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Dates__c</field>
            <value>
                <elementReference>Get_Sales_Booking.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Type__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Booking_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSO__c</field>
            <value>
                <elementReference>get_user_cso.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Scheme__c</field>
            <value>
                <stringValue>Internal Commission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Get_Sales_Booking.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Amount__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Discount_Amount1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Commission__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Commission__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FGR_Unit__c</field>
            <value>
                <elementReference>Get_Sales_Booking.FGR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oqood_Status__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Oqood_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDC__c</field>
            <value>
                <elementReference>Get_Sales_Booking.PDC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Project_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Unit__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Customer_Unit_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Realized_Collections__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Realized_Collection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>External_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered_Agency__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Agency_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Oqood_Remarks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SB_Number__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPA_Status__c</field>
            <value>
                <elementReference>Get_Sales_Booking.SPA_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Executive_1__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Sales_Executive_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Executive_2__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Sales_Executive_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Sales_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Price__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Selling_Price1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Lead_Sales_Director__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Team_Lead_Sales_Director__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Price__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Total_Amount1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Price__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Unit_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Status__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Unit_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Type__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Unit_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Internal_Commission</name>
        <label>Create Internal Commission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Amount_Received__c</field>
            <value>
                <elementReference>Get_Sales_Booking.POP_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Dates__c</field>
            <value>
                <elementReference>Get_Sales_Booking.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Type__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Booking_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSO__c</field>
            <value>
                <elementReference>get_user_cso.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Scheme__c</field>
            <value>
                <stringValue>Internal Commission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Get_Sales_Booking.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Amount__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Discount_Amount1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FGR_Unit__c</field>
            <value>
                <elementReference>Get_Sales_Booking.FGR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oqood_Status__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Oqood_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDC__c</field>
            <value>
                <elementReference>Get_Sales_Booking.PDC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Project_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Unit__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Customer_Unit_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Realized_Collections__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Realized_Collection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Internal_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Oqood_Remarks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SB_Number__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPA_Status__c</field>
            <value>
                <elementReference>Get_Sales_Booking.SPA_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Executive_1__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Sales_Executive_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Executive_2__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Sales_Executive_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Sales_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Price__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Selling_Price1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Lead_Sales_Director__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Team_Lead_Sales_Director__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Price__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Total_Amount1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Price__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Unit_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Status__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Unit_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Type__c</field>
            <value>
                <elementReference>Get_Sales_Booking.Unit_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Task</name>
        <label>Create New Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_Finance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Receipt Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Receipt Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_EOI_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>External_record_type</name>
        <label>External record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_External_Commission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>External_Commission</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commission__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agency_Onboarding_records</name>
        <label>Get Agency Onboarding records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Audit_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agency_Onboarding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EOI_Records</name>
        <label>Get EOI Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Agency_Onboarding_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expression_of_Interest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Sales</name>
        <label>Get Group - Sales</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Object_for_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Admin</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Admin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Audit_Team</name>
        <label>Get Queue = Audit Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_SalesPerson</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Audit_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Broker</name>
        <label>Get Queue = Broker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_When_task_status_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Broker_Profile_Review_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Finance</name>
        <label>Get Queue = Finance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finance_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_SalesPerson</name>
        <label>Get Queue = SalesPerson</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Finance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Person</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Receipt_Records</name>
        <label>Get Receipt Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_When_task_status_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expression_of_Interest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_EOI_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Receipt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Booking</name>
        <label>Get Sales Booking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EOI_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_user_cso</name>
        <label>get user cso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Commission_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>siddiqanaz7866@gmail.com.kcdev</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Internal_record_type</name>
        <label>Internal record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Internal_Commission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal_Commission</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commission__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Update_Agency</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Update Agency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cancel_email_on_agency_onboarding</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Onboarding_Stage__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Agency_Onboarding__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Update_EOI</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Update EOI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Expression_of_Interest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_2_of_Copy_1_of_Update_task</name>
        <label>Copy 1 of Copy 1 of Copy 2 of Copy 1 of Update task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Update_Agency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agency_Onboarding_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Re-Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Agency Details Verification</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_Agency</name>
        <label>Copy 1 of Copy 1 of Update Agency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Onboarding_Stage__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Agency_Onboarding__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_EOI</name>
        <label>Copy 1 of Copy 1 of Update EOI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Need More Information</stringValue>
            </value>
        </inputAssignments>
        <object>Expression_of_Interest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_Copy_1_of_Update_task</name>
        <label>Copy 1 of Copy 2 of Copy 1 of Update task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Update_Agency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agency_Onboarding_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed / Verified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Agency Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Agency Final Approval</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_Update_task</name>
        <label>Copy 1 of Copy 2 of Update task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_on_EOI_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_EOI_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Need More Information</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_Finance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Receipt Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Receipt Verification</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Agency</name>
        <label>Copy 1 of Update Agency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>pending_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Onboarding_Stage__c</field>
            <value>
                <stringValue>Documents Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Agency_Onboarding__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_EOI</name>
        <label>Copy 1 of Update EOI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Verified</stringValue>
            </value>
        </inputAssignments>
        <object>Expression_of_Interest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_task</name>
        <label>Copy 1 of Update task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Agency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agency_Onboarding_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_Broker.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Agency Details Verification</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_Copy_2_of_Copy_1_of_Update_task</name>
        <label>Copy 2 of Copy 1 of Copy 2 of Copy 1 of Update task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Update_Agency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agency_Onboarding_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_Update_Agency</name>
        <label>Copy 2 of Copy 1 of Update Agency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Onboarding_Stage__c</field>
            <value>
                <stringValue>Documents Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Agency_Onboarding__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_Update_task</name>
        <label>Copy 2 of Copy 1 of Update task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Agency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agency_Onboarding_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Need More Information (NMI)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Need More Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Agency Verification</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_task</name>
        <label>Copy 2 of Update task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_on_NMI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_EOI_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Queue_Finance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Group_Sales.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Need More Information</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_task</name>
        <label>Copy 3 of Update task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_EOI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_EOI_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Queue_Finance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed / Verified</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Agency</name>
        <label>Update Agency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Onboarding_Stage__c</field>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </inputAssignments>
        <object>Agency_Onboarding__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_booking_Booking_Created</name>
        <label>update booking - Booking Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>error1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Booking Created</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_booking_booking_Verified</name>
        <label>update booking - booking Verified</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Booking Verification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_booking_receipt</name>
        <label>update booking - receipt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Copy_3_of_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Receipt Confirmation</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EOI</name>
        <label>Update EOI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_on_Task_complete_and_move_to_finance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Finance Review</stringValue>
            </value>
        </inputAssignments>
        <object>Expression_of_Interest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_booking_approved_by_cso</name>
        <label>Update Sales booking - approved by cso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Copy_8_of_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Approved by CSO</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_booking_Downpayemnt</name>
        <label>Update Sales booking -Downpayement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Copy_6_of_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Under Finance Review</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_booking_Generate_RF</name>
        <label>Update Sales booking - Generate RF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Copy_4_of_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Generate RF</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_booking_handover</name>
        <label>Update Sales booking - handover</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Copy_13_of_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Handover</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_booking_oqood_Approved</name>
        <label>Update Sales booking - oqood Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Copy_13_of_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Oqood Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_booking_oqood_submit</name>
        <label>Update Sales booking - oqood submit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_user_cso</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_12_of_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Oqood Submission</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_booking_RF_Signed</name>
        <label>Update Sales booking -  RF Signed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Copy_5_of_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>RF Signed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_booking_Sales_Admin_Manager</name>
        <label>Update Sales booking - Sales Admin Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Copy_3_of_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Submitted to Sales Admin Manager</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_booking_SPA_Executed</name>
        <label>Update Sales booking - SPA Executed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Copy_11_of_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>SPA Executed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_booking_SPA_generated</name>
        <label>Update Sales booking - SPA generated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Copy_9_of_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>SPA Generated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_booking_SPA_Sent</name>
        <label>Update Sales booking - SPA Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Copy_7_of_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>SPA Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_booking_SPA_Signed</name>
        <label>Update Sales booking - SPA Signed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Copy_10_of_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>SPA Signed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_task</name>
        <label>Update task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_EOI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_EOI_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Group_Sales.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed / Verified</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Booking</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AgencyApprovalTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Dear Channel Partner,&lt;/strong&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Congratulations!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;We are pleased to inform you that your registration with&lt;strong&gt; Zoya Developments&lt;/strong&gt; has been successfully completed. All submitted documents have been reviewed, verified, and approved.&lt;/p&gt;&lt;p&gt;&amp;nbsp;To proceed with the activation of your profile in our system, we kindly request you to sign the agreement sent to your registered signatory email at your earliest convenience.&lt;/p&gt;&lt;p&gt;&amp;nbsp;We are delighted to welcome you to &lt;strong&gt;Zoya Developments&lt;/strong&gt; and look forward to a productive and long-term collaboration.&lt;/p&gt;&lt;p&gt;&amp;nbsp;Our team will be sharing upcoming project launches, inventory updates, pricing details, and all required marketing materials to support your success with Zoya.&lt;/p&gt;&lt;p&gt;&amp;nbsp;Should you require any assistance, please do not hesitate to contact us.&lt;/p&gt;&lt;p&gt;&amp;nbsp;Welcome aboard—we look forward to achieving exceptional milestones together.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Warm regards,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt; Zoya Developments&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt; Channel Relations Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AgencyNMItemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Dear Chanel Team,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;We hope you are doing well.&lt;/p&gt;&lt;p&gt;&amp;nbsp;As part of the partner registration process with &lt;strong&gt;Zoya Developments&lt;/strong&gt;, we kindly request you to provide the remaining pending documents listed below, in order to complete your onboarding:&lt;/p&gt;&lt;p&gt;&amp;nbsp;Pending Documents:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Agency_Onboarding_records.Pending_Documents__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;(Please share the specific items you need, and I will fill them in.)&lt;/p&gt;&lt;p&gt;&amp;nbsp;Once we receive these documents, we will finalize your registration and activate your partner profile in our system.&lt;/p&gt;&lt;p&gt;&amp;nbsp;If you require any clarification or support, our team is here to assist you.&lt;/p&gt;&lt;p&gt;&amp;nbsp;We appreciate your prompt cooperation.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;strong&gt;Warm regards,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt; Zoya Developments&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt; Partner Relations Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CancelTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Dear Channel Partner,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;We regret to inform you that your registration has been rejected due to &lt;strong&gt;{!$Record.Reason_For_Cancellation__c}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;You may submit a new registration request after addressing the reason mentioned above. Please ensure that all required information, supporting details and documents are accurately provided during re-submission.&lt;/p&gt;&lt;p&gt;If you have any questions or need further clarification, feel free to contact us.&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ZOYA DEVELOPMENTS&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;CHANNEL RELATIONS TEAM&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EOIComplete</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The Finance team has successfully completed the task &quot;&lt;strong&gt;Receipt Verification&lt;/strong&gt;&quot; and verified&amp;nbsp;the Sales Booking / EOI &lt;strong&gt;{!Get_EOI_Records.Name}&lt;/strong&gt;&quot;.&lt;/p&gt;&lt;p&gt;All required details and documents have been reviewed and confirmed.&amp;nbsp;&lt;/p&gt;&lt;p&gt;You may proceed with the next steps as per the process.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NMIemail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The Task subject  &lt;strong&gt;{!$Record.Subject}&lt;/strong&gt; related to Sales Booking/EOI Name  &lt;strong&gt;{!Get_EOI_Records.Name}&lt;/strong&gt; for Project name &lt;strong&gt;{!Get_EOI_Records.Project_Name__r.Name}&lt;/strong&gt; has been reassigned because some required details/ documents are missing.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please provide the necessary information / documents to proceed.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SalestoFinance</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The task &lt;strong&gt;“EOI Verification”&lt;/strong&gt;, related to Sales Booking / EOI &lt;strong&gt;{!Get_EOI_Records.Name}&lt;/strong&gt;, has been assigned from the Sales Admin to the Finance team as &lt;strong&gt;“Receipt Verification”&lt;/strong&gt; after completion by the After Sales Admin.&lt;/p&gt;&lt;p&gt;Please review and verify the EOI record for complete details and proceed accordingly.&lt;/p&gt;&lt;p&gt;If any additional information or documents are required, kindly coordinate with the Sales team.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CountOFTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Newtaskforfinance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
